.all-posts {
  margin: 14px;
  padding: 4px;
  background-color: #f1f1f1;
  border: 1px solid #5555;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}
.a-post {
  margin: 10px;
  padding: 10px;
  border: 2px solid #5555;
  border-radius: 3px;
}
.a-post:hover {
  border-color: #0006;
}
.a-post button {
  padding: 5px;
  font-size: 16px;
}
.a-post span {
  margin: 0 5px;
}
.a-post button:hover {
  cursor: pointer;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
